.lessonOrder{
    display: inline-block;
    width: 3vh;
    height: 3vh;
    text-align: center;
    border-radius: 50%;
}

.lesson{
    display: flex;
    /*margin-bottom: 1vh;*/
    font-size: 0.8rem;
}

.lecture{
    background: #F8D9AF;
}

.practice{
    background: #8ED0FF;
}
.lab{
    background: #FF7043;
}
.seminar{
    background: #9CCC65;
}