#dayContainer {
    padding: 0 1vw;
    border: solid 1px black;
}

#dayContainer * {
    /* Для эксплорера */
    -ms-user-select: none;

    /* Для мозилы */
    -moz-user-select: none;

    /* Для конкверора */
    -khtml-user-select: none;

    /* Для Сафари и Хрома */
    -webkit-user-select: none;
}

#dayContainer > p{
    margin: 1vh;
    font-style: italic;
}