#menu{
    background: linear-gradient(244deg, #DFB2F3 12%, #CBAEEB 37%, #241D8C 117%);
    padding-top: 3vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#itemContainer {
    display: flex;
    flex-direction: column;
}

.collapseButton {
    all: unset;
    position: absolute;
    top: 13vh;
    right: -1vw;
    width: 5vh;
    height: 5vh;
    box-shadow: 0 0 0 2vh white;
    background-image: url("../../icons/keyboard_arrow_left-white-18dp.svg");
    background-size: cover;
    background-color: #FFE082;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.collapseButton:hover {
    background-color: #FFD54F;
}

#menuOptions{
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    color: white;
    padding-left: 0.5vw;
    margin-bottom: 3vh;
    cursor: pointer;
    align-items: flex-end;
}

#applicationLogo{
    background-repeat: no-repeat;
    background-image: url("../../icons/ApplicationLogo.svg");
    height: 8vh;
    margin-bottom: 5vh;
}
