.container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.avatar{
    display: inline-block;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background: gray;
}

.userData{
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;
    font-size: 1.8rem;
    color: white;
    justify-content: center;
}