#commentContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#commentPhoto{
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background-color: #f2cd83;
    flex-shrink: 0;
}

#commentBody{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    width: 100%;
}

#commentAuthor{
    color: #572287;
    font-weight: bold;
}

#commentContent{
    font-size: 120%;
    word-break: break-word;
    margin: 1vh 0;
}

#commentDate{
    margin-top: 1vh;
    font-size: 70%;
}