.newsContainer {
    display: flex;
    flex-direction: column;
    background: rgba(247, 247, 255, 0.88);
    border-radius: 27px;
    margin-bottom: 5vh;
    padding: 3vh;
}

.info {
    display: flex;
    flex-direction: row;
}

.newsText {
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: row;
}

.newsOptions {
    all: unset;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    height: 3vh;
    background-image: url("../../icons/options.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.infoItem {
    color: #858585;
}

.infoItem:last-child {
    margin-left: auto;
}

.newsArticle {
    margin: 3vh 0;
    white-space: pre-line;
    color: black;
}

#commentsAdding {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#commentOwnerPhoto {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background-color: #CBAEEB;
}

#commentSendButton {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-image: url("../../icons/Send.svg");
}

#commentField {
    margin-left: 2vw;
    margin-right: 2vw;
    height: 10vh;
    resize: none;
    font-size: 1rem;
    width: 85%;
}

#newsOptionsField {
    color: black;
    font-weight: normal;
}

.popup-content {
    font-style: normal;
}

#deletingText {
    font-size: 150%;
    margin-left: 5%;
}

.modalContentHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

#newsAddingHeaderValidation {
    color: red;
    display: block;
}

#newsAddingContentValidation {
    color: red;
    display: block;
}

#newsChangingHeaderValidation {
    color: red;
    display: none;
}

.modalContentStatus {
    align-self: flex-start;
}

.modalFieldHeader {
    align-self: flex-start;
}

#newsChangingContentValidation {
    color: red;
    display: none;
}

.commentHeader {
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentOptions {
    all: unset;
    border: 1.5vh solid transparent;
    border-top: 1.5vh solid #7e7e7e;
    border-right: 1.5vh solid #7e7e7e;
    cursor: pointer;
}

.card{
    cursor: pointer;
}

#ChangingCommentValidation{
    color: red;
    display: none;
}