#lessonDate, #lessonName, #roomNumber, #teacherName {
    color: red;
    display: block;
}

#lessonDate {
    margin-top: 3%;
}

#dateInput {
    margin-right: 2%;
}

#lessonTime {
    margin-left: 2%;
    display: block;
    color: red;
    margin-top: 3%;
}

.scheduleModalLine {
    display: flex;
    flex-direction: row;
}

.modalContentStatus {
    align-self: center;
    margin-left: 2%;
    margin-top: 2%;
}

.scheduleRadio{
    zoom: 1.2;
    font-size: 100%;
}