@import url(http://allfont.ru/allfont.css?fonts=rock-salt);

#menu{
    background: linear-gradient(244deg, #DFB2F3 12%, #CBAEEB 37%, #241D8C 117%);
    padding-top: 3vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#itemContainer {
    display: flex;
    flex-direction: column;
}

#menuOptions{
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    color: white;
    padding-left: 0.5vw;
    margin-bottom: 3vh;
    cursor: pointer;
    align-items: flex-end;
}

#applicationLogo{
    /*background-repeat: no-repeat;*/
    /*background-image: url("../../icons/ApplicationLogo.svg");*/
    font-family: 'Rock Salt',sans-serif;
    font-size: 2rem;
    height: 8vh;
    
    margin: 0 auto 5vh auto;
    color: white;

}
.navButton {
    all: unset;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0.5vh 1vh;
    font-size: 2rem;
    color: white;
    background: transparent;
    cursor: pointer;
}

.navButton:hover {
    background: linear-gradient(90deg, #31243A -97%, rgba(74, 144, 226, 0) 100%);
}
.active{
    background: linear-gradient(90deg, rgba(49, 36, 58, 0.65) -97%, rgba(74, 144, 226, 0) 100%);
}