#fullDayContainer {
    /*width: 100%;*/
    display: flex;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
    overflow-y: hidden;
    padding: 1vh;
    background-color: rgba(247, 247, 255, 0.88);
    border-radius: 0.3vw;
}

.lessonFullInfo {
    margin: 0;
}

.time > p {
    margin: 0;
    text-align: center;
}

#time {
    font-size: 1.5rem;
}

.fullLessonContainer {
    margin-left: 2vw;
    width: 100%;
}

.lessonOptions {
    all: unset;
    border: 1.5vh solid transparent;
    border-right: 1.5vh solid #7e7e7e;
    border-bottom: 1.5vh solid #7e7e7e;
    align-self: flex-end;
    /*border-style: none none solid none;*/
    /*border-width: 1px;*/
    cursor: pointer;
}

.lessonOptionItem {
    border-style: none none solid none;
    margin: 0;
    border-width: 1px;
    cursor: pointer;
}

.lessonOptionsWindow {
    width: 10vw !important;
    background-color: #8ED0FF;
}

.popup-content.options-content {
    width: 10vw !important;
}

.card {
    text-align: center;
}


.deletingModal {
    display: flex;
    flex-direction: column;
}

#deletingOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3%;
}

.popup-content.deleting-content {
    width: 30% !important;
}

#deletingHeader {
    margin-bottom: 3%;
}

#changingTime {
    display: flex;
    flex-direction: row;
}

#changingHeader {
    margin-right: 2%;
}

#changingField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modalScheduleHeader {
    align-self: flex-start;
}

.scheduleRadio {
    align-self: flex-start;
}

#changingContent {
    margin-bottom: 5%;
}

#deletingMessage {
    font-size: 150%;
    padding-left: 3%;
    padding-right: 3%;
}

#changingLessonTime, #changingLessonName, #changingRoomNumber, #changingTeacherName {
    color: red;
    display: none;
}

#positiveAnswer, #negativeAnswer{
    width: 30%;
    height: 10%;
    margin-right: 2%;
}

#deletingFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}