#fullDayContainer{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    overflow-y: hidden;
}

.lessonFullInfo{
    margin: 0;
}

#time{
    font-size: 1.5rem;
}

.fullLessonContainer{
    margin-left: 2vw;
}

.lessonOptions{
    all: unset;
    border: 1.5vh solid transparent;
    border-right: 1.5vh solid #7e7e7e;
    border-bottom: 1.5vh solid #7e7e7e;
    align-self: flex-end;
}

.lessonOptionsWindow{
    width: 10vw !important;
    background-color: #8ED0FF;
}

.popup-content{
    width: 10vw !important;
}

.card{
    text-align: center;
}

.lessonOption{
    border-style: none none solid none;
    margin: 0;
    border-width: 1px;
    cursor: pointer;
}
