#day{
    text-align: right;
    margin: 0;
    font-size: 2rem;
}

#ScheduleDayFullContainer{
    margin-top: 3vh;
}

.weekendDay{
    text-align: center;
    border-radius: 1vh;
    background-color: rgba(170, 127, 223, 0.48);
}