#storageContainer {
    /*width: 20vh;*/
    /*height: 20vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
    cursor: pointer;
}

#folderIcon {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    background-color: #31243A;
    background-image: url("../../icons/folderIcon.png");
    background-size: cover;
}

#fileIcon {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    background-color: #8ED0FF;
    background-image: url("../../icons/fileIcon.png");
    background-size: cover;
}

.contextItem {
    cursor: pointer;
    text-align: center;
    padding: 1vh;
}

.contextItem:hover {
    background: rgba(72, 10, 136, 0.8);
}

.contextMenu {

    border-radius: 1vh;
    color: white;
    background: rgba(154, 102, 224, 0.6);
}
