#storageContainer {
    width: 20vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#folderIcon{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    background-color: #31243A;
    background-image: url("../../icons/folderIcon.png");
    background-size: cover;
}

#fileIcon{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    background-color: #8ED0FF;
    background-image: url("../../icons/fileIcon.png");
    background-size: cover;
}



