#groupListContent{
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 2vh 4vw 0 0;
}

#groupListContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e4c3f2;
}

#groupListContent::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#groupListContent::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c4a6e6;
}