#news {
    overflow-y: auto;
    width: auto;
    height: 90vh;
    margin: 2vh 4vw 0 0;
}

#news::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e4c3f2;
}

#news::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#news::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c4a6e6;
}

#newsHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10vh;
    margin-top: 2vh;
}

#newsAdding{
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    background-image: url("../icons/Plus.svg");
    background-size: cover;
}

#newsContent{
    display: flex;
    flex-direction: column;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 1%;
    line-height: 20px;
    right: 0px;
    top: 0px;
    font-size: 200%;
    background: #ffffff;
}

.modal > .header {
    width: 100%;
    font-size: 150%;
    text-align: center;
    color: #49B8F7;
    font-weight: bold;
    margin-top: 2%;
}

.modal > .content {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.modalContentHeader{
    font-size: 150%;
    margin-bottom: 1%;
}

#addingNewsHeader{
    height: 3vh;
    margin-bottom: 2%;
    font-size: 120%;
}

#addingNewsContent{
    height: 30vh;
    margin-bottom: 2%;
    font-size: 120%;
}

.popup-content{
    width: 40% !important;
}

.sendingButton{
    cursor: pointer;
    font-size: 150%;
    background-color: #4AB9F8;
    color: white;
    height: 8vh;
    width: 10vw;
    border-radius: 10%;
}

.modalFooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.modalFieldHeader{
    display: flex;
    flex-direction: row;
}

.modalContentStatus{
    margin-bottom: 1%;
}

.modalFieldHeader{
    width: 100%;
}