#root{
    display: flex;
}

#pageContainer {
    display: inline-block;
    width: 82vw;
    margin-left: 4vw;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s;
}

body {
    margin: 0;
}

html {
    font-size: 2vh;
}