#title {
    font-style: italic;
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#storage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20vh;
}

#viewTypeButton{
    height: 5vh;
    width: 5vh;
    margin-top: 5vh;
    border-radius: 50%;
    background-image: url("../components/Storage/View.svg");
    background-size: cover;
}

#tableHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20vh;
}

#storageContent{
    overflow-y: auto;
    width: auto;
    height: 100vh;
}

#storageContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e4c3f2;
}

#storageContent::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#storageContent::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c4a6e6;
}

#toMainStoragePageButton{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    margin-right: 2vw;
    background-image: url("../components/Storage/Back.svg");
    background-size: cover;
}

#addToStorageButton{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-image: url("../components/Storage/Plus.svg");
    background-size: cover;
}

#viewButton{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    margin-right: 2vw;
    background-image: url("../components/Storage/View.svg");
    background-size: cover;
}

#leftHeaderPart{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#rightHeaderPart{
    display: flex;
    flex-direction: row;
    align-items: center;
}