#title {
    font-style: italic;
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#storage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20vh;
}

#viewTypeButton{
    height: 5vh;
    width: 5vh;
    margin-top: 5vh;
    border-radius: 50%;
}

#tableHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20vh;
}