.newsContainer {
    display: flex;
    flex-direction: column;
    border: solid 1px #979797;
    margin-bottom: 5vh;
    padding: 1vh;
}

.info {
    display: flex;
    flex-direction: row;
}

.newsText {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.infoItem {
    color: #858585;
}

.infoItem:last-child {
    margin-left: auto;
}

.newsArticle {
    margin: 0;
    white-space: pre-line;
    color: black;
}