.collapseButton {
    all: unset;
    position: absolute;
    top: 15%;
    right: 2%;
    width: 5vh;
    height: 5vh;
    background-image: url("./menu/keyboard_arrow_right-white-18dp.svg");
    background-size: cover;
    background-color: #FFE082;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.collapseButton:hover {
    background-color: #FFD54F;
}

#menu {
    position: fixed;
    left: -17vw;
    background: linear-gradient(244.01deg, #DFB2F3 12.24%, #CBAEEB 36.93%, #241D8C 117.57%);
    height: 100vh;
    width: 20vw;
    transition: all 0.5s;
}

#itemContainer {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-top: 10vh;
}

#itemContainer > button {
    all: unset;
    padding: 5px;
    font-size: 2rem;
    color: white;
    background: transparent;
    cursor: pointer;
    /* transition: all 0.1s; */
}

#itemContainer > button:hover {
    background-color: #16a085;
}


.mainContent {
    /*    background-color: wheat;*/
    height: 100vh;
    width: 100vw;
}

#pageContainer {
    /*    background-color: teal;*/
    margin-left: 25vw;
    width: 75vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
}

html {
    font-size: 16px;
}